@page "/listado-vehiculos"
@attribute [Authorize]

@if (vehiculos == null)
{
    <Cargando></Cargando>
}

else
{
    <div class="tabla-registro" id="tablamodal">
        <a href="/menu"> <i class="fas fa-arrow-left"></i></a>

        <div class="contenido-tabla-registro">
            <h2 class="text-center">Listado de Vehiculos</h2>
            <div class="row">
                <select class="col-md-3 form-control offset-md-1 Selectsss" @bind="campoFiltro">
                    <option value="Matricula">Matricula</option>
                    <option value="Marca">Marca</option>
                    <option value="Modelo">Modelo</option>
                    <option value="Año">Año</option>
                    <option value="Tipo.Nombre">Tipo</option>
                    <option value="Pasajeros">Cantidad de Pasajeros</option>
                    <option value="Carga">Capacidad de Carga</option>
                </select>
                <input type="text" class="col-md-7 form-control" @bind-value="textoFiltro" @oninput="filtrarVehiculos">
            </div>
            <hr>

            @if (vehiculosFiltrados.Count == 0)
            {
                <div class="text-center">
                    <h3>No se han encontrado Resultados con esas Especificaciones</h3>
                </div>
            }


            @foreach (var v in vehiculosFiltrados)
            {
                <table class="Tabla-Presentacion">
                    <tr class="Tabla-Cabeza">
                        <td>Foto</td>
                        <td>Matricula</td>
                        <td>Seguro</td>
                        <td>Precio por Dia</td>
                        <td>Tipo</td>
                        <td>Marca</td>
                    </tr>
                    <tr class="Tabla-Pie">
                        <td>
                            <img src="@v.Foto" width="70px" height="70px" style="object-fit: cover;" class="m-1">
                        </td>
                        <td>@v.Matricula</td>
                        <td>@v.SeguroCompleto</td>
                        <td>@v.PrecioDia.ToString("C0")</td>
                        <td>@v.Tipo.Nombre</td>
                        <td>@v.Marca</td>
                    </tr>
                    <tr class="Tabla-Cabeza">

                        <td>Modelo</td>
                        <td>Color</td>
                        <td>Pasajeros</td>
                        <td>Carga (kg)</td>
                        <td>Habilitado?</td>
                        <td></td>
                    </tr>
                    <tr class="Tabla-Pie">


                        <td>@v.Modelo</td>
                        <td>@v.Color</td>
                        <td>@v.Pasajeros</td>
                        <td>@v.Carga</td>
                        <td>
                            <label class="switch">
                                <input type="checkbox" checked="@v.Habilitado" @oninput="(e) => Habilitando(v, e)">
                                <span class="slider round"></span>
                            </label>
                        </td>
                        <td>
                            <button @onclick="() => Borrar(v)" class="btn btn-danger">
                                <i class="far fa-trash-alt"></i>
                            </button>
                            <a href="/editar-vehiculo/@v.Id" class="btn btn-info">
                                <i class="far fa-edit"></i>
                            </a>
                        </td>
                    </tr>
                </table>

            }
        </div>
    </div>

}


@code
{
    private List<Vehiculo> vehiculos = null;
    private List<Vehiculo> vehiculosFiltrados = null;

    private string campoFiltro = "Matricula";
    private string textoFiltro = "";

    protected override async Task OnInitializedAsync()
    {
        vehiculosFiltrados = vehiculos = await sc.Vehiculos.Include("Tipo").ToListAsync();
    }

    private void filtrarVehiculos(ChangeEventArgs e)
    {
        textoFiltro = e.Value.ToString();
        vehiculosFiltrados = vehiculos.FindAll(
        v => v.GetPropertyValue<String>(campoFiltro)
        .ToLower().Contains(textoFiltro.ToLower()));
    }

    private async Task Borrar(Vehiculo v) {
        var result = await Swal.FireAsync(new SweetAlertOptions() {
            Title = $"Esta seguro que desea eliminar el Vehiculo <br>{v.Informacion}?",
            Icon = SweetAlertIcon.Error,
            ImageUrl = v.Foto,
            ImageWidth = 100,
            ImageHeight = 100,
            ShowCancelButton = true,
            ConfirmButtonText = "Borrar",
                ConfirmButtonColor = "#dc3545",
            CancelButtonText = "Cancelar",
                CancelButtonColor = "#28a745"
        });

        if (!string.IsNullOrEmpty(result.Value))
        {
            sc.Remove(v);
            vehiculos.Remove(v);
            await sc.SaveChangesAsync();

            await Swal.FireAsync(
                "Borrado",
                $"El Cliente {v.Informacion} ha sido borrado",
                SweetAlertIcon.Warning
            );
        }
    }

    private async Task Habilitando(Vehiculo v, ChangeEventArgs e) {
        var Habilitar = Convert.ToBoolean(e.Value);

        v.Habilitado = Habilitar;
        await sc.SaveChangesAsync();
    }
}
